*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xmls
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/DESIGN_PROGRESS.md
/feat/home/.claude
/test/.claude
/test-mock/.claude
/.claude/worktrees
.claudedocs
.agent
/.claude/claude.toml
/.claude/agents
.claude/playwright-browsers